(authelia) {
    forward_auth authelia:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
    }
}

(tls) {
    tls /etc/caddy/certs/fullchain.pem /etc/caddy/certs/wildcard-key.pem
}

zharkaron.lab {
    import tls
    import authelia
    redir / /adguard/
}

music.zharkaron.lab {
    import tls
    import authelia
    reverse_proxy navidrome:4533
}

wireguard.zharkaron.lab {
    import tls
    import authelia
    reverse_proxy wg-easy:51821
}

cloud.zharkaron.lab {
    import tls
    import authelia
    reverse_proxy nextcloud:80
}

adguard.zharkaron.lab {
    import tls
    import authelia
    reverse_proxy adguard:80
}

monitoring.zharkaron.lab {
    import tls
    import authelia
    reverse_proxy beszel:8090
}

beszel.zharkaron.lab {
    import tls
    import authelia
    reverse_proxy beszel:8090
}

dockge.zharkaron.lab {
    import tls
    import authelia
    reverse_proxy dockge:5001
}

homepage.zharkaron.lab {
    import tls
    import authelia
    reverse_proxy homarr:7575
}

friends.zharkaron.lab {
    import tls
    import authelia
    reverse_proxy homarr:7575
}

authelia.zharkaron.lab {
    import tls
    reverse_proxy authelia:9091
}
