(tls) {
    tls {
        ca https://step-ca:9000/acme/acme/directory
        ca_root /etc/caddy/certs/root_ca.crt
    }
}

zharkaron.lab {
    import tls
    redir / /adguard/
}

music.zharkaron.lab {
    import tls
    reverse_proxy navidrome:4533
}

wireguard.zharkaron.lab {
    import tls
    reverse_proxy wg-easy:51821
}

cloud.zharkaron.lab {
    import tls
    reverse_proxy nextcloud:80
}

adguard.zharkaron.lab {
    import tls
    reverse_proxy adguard:80
}


beszel.zharkaron.lab {
    import tls
    reverse_proxy beszel:8090
}

dockge.zharkaron.lab {
    import tls
    reverse_proxy dockge:5001
}

homepage.zharkaron.lab {
    import tls
    reverse_proxy homarr:7575
}

mealie.zharkaron.lab {
    import tls
    reverse_proxy mealie:9925
}


