(authelia) {
    forward_auth authelia:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
    }
}

zharkaron.lab {
    tls internal
    import authelia
    redir / /adguard/
}

music.zharkaron.lab {
    tls internal
    import authelia
    reverse_proxy navidrome:4533
}

wireguard.zharkaron.lab {
    tls internal
    import authelia
    reverse_proxy wg-easy:51821
}

cloud.zharkaron.lab {
    tls internal
    import authelia
    reverse_proxy nextcloud:80
}

adguard.zharkaron.lab {
    tls internal
    import authelia
    reverse_proxy adguard:80
}

monitoring.zharkaron.lab {
    tls internal
    import authelia
    reverse_proxy beszel:8090
}

beszel.zharkaron.lab {
    tls internal
    import authelia
    reverse_proxy beszel:8090
}

dockge.zharkaron.lab {
    tls internal
    import authelia
    reverse_proxy dockge:5001
}

homepage.zharkaron.lab {
    tls internal
    import authelia
    reverse_proxy homepage:3000
}

friends.zharkaron.lab {
    tls internal
    import authelia
    reverse_proxy homepage-friends:3000
}

authelia.zharkaron.lab {
    tls internal
    reverse_proxy authelia:9091
}
